* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-underline: none;
}

a:visited {
  color: inherit;
}