.btn {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: white;
  background-color: #000;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #2a2a2a;
}