@use '../../styles/variables/colors' as *;

.btn {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    transition: background-color 0.3s;
  }

  &--type-primary {
    color: white;
    background-color: #000;
  }

  &--type-primary:hover {
    background-color: #2a2a2a;
  }

  &--type-primary:active {
    outline: 1px solid black;
  }

  &--type-secondary {
    color: black;
    background-color: white;
  }

  &--type-secondary:hover {
    background-color: #cecece;
  }

  &--type-secondary:active {
    outline: 1px solid #cecece;
  }

  &--type-rounded {
    border-radius: 60%;
    border: solid 1px black;
  }

  &--size-small {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  &--size-medium {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  &--size-large {
    font-size: 1.5rem;
    padding-block: 0.8rem;
    padding-inline: 1.2rem;
  }

  &--active {
    background-color: $primary-color;
  }

  &--disabled {
    background-color: #adacac;
  }
}
